<div class="container question_container current" >
  <div class="content">
    <div class="box" data-controller="questions" data-order="<%= question.order %>" data-total="<%= question_length(question) %>" >
      <div class="question">
        <p><%= t("questions."+question.id.to_s) %></p>
      </div>
      <div class="options">
        <% [0,0,1,1].each_with_index  do |value, index| %>
          <label class="custom-radio">
            <div class="custom-radio-label">
              <%= t("questions.choice"+index.to_s) %>
            </div>
            <%= form.radio_button("answers[#{question.id}]", value, autocomplete: "off",  "data-action":"click->questions#radio_clicked") %>
            <div class="custom-radio-button"></div>
          </label>
        <% end %>
      </div>

      <div class="question_buttons">
      
        <% if question.order != 1 %>
          <button type="button" data-action="click->questions#back_clicked">
            <%= image_tag "Arrow.svg", alt: t("questions.backButton"), class: "arrow_icon"%>
          </button>
        <% end %>

        <% if question.order == question_length(question) %>
          <%= form.submit t("questions.submit"), class: "submit_button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>