<div class="container question_container current" >
  <div class="content">
    <div class="box" data-controller="questions" data-index="<%= index %>" data-total="<%= questions_length %>" >
      <div class="question">
        <p><%= question.content %></p>
      </div>
      <div class="options">
        <% [0,0,1,1].each_with_index  do |value, index| %>
          <label class="custom-radio">
            <div class="custom-radio-label">
              <%= index_to_label(index) %>
            </div>
            <%= form.radio_button("answers[#{question.id}]", value, autocomplete: "off",  "data-action":"click->questions#radio_clicked") %>
            <div class="custom-radio-button"></div>

          </label>
        <% end %>
      </div>

      <div class="question_buttons">
      
        <% if index + 1 != questions_length %>
          <button type="button" data-action="click->questions#back_clicked">
            <%= image_tag "Arrow.svg", alt: "Arrow pointing to left", class: "arrow_icon"%>
          </button>
        <% end %>

        <% if is_first_question && index == 0 %>
          <%= form.submit "Submit", class: "submit_button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>