<!--hidden  invisible -->
<div class="bg-primary text-primary-content h-full w-full absolute question" data-controller="questions" data-order="<%= question.order %>" data-total="<%= question_length(question) %>" >
  <h1><%= t("questions."+question.id.to_s) %></h1>

  <div class="flex">
    <% [0,0,1,1].each_with_index  do |value, index| %>
      <label class="">
    <div class="">
          <%= t("questions.choice"+index.to_s) %>
        </div>
        <%= form.radio_button("answers[#{question.id}]", value, autocomplete: "off",  "data-action":"click->questions#radio_clicked") %>
        <div class=""></div>
      </label>
    <% end %>
  </div>

  <div class="">
    <% if question.order != 1 %>
      <button type="button" data-action="click->questions#back_clicked" class="w-16">
        <%= image_tag "Arrow.svg", alt: t("questions.backButton"), class: "arrow_icon"%>
      </button>
    <% end %>
     <% if question.order == question_length(question) %>
      <%= form.submit t("questions.submit"), class: "submit_button" %>
    <% end %>
  </div>

</div>