<!--hidden  invisible -->
<div class="card bg-white h-full w-full absolute question duration-500 delay-100"
     style="<%= question.order != 1 ? 'visibility: hidden; transform: translateX(100vw);' : '' %> "

     data-controller="questions"
     data-order="<%= question.order %>" data-total="<%= question_length(question) %>" >

    <div class="card-body flex items-center justify-center md:gap-16">
    <h1 class="card-title w-full h-32 text-2xl md:text-4xl lg:text-5xl flex items-center justify-center"><%= t("questions."+question.id.to_s) %></h1>

    <div class="flex gap-8 items-center justify-center">
      <% [0,0,1,1].each_with_index  do |value, index| %>
        <div class="flex flex-col items-center gap-4">

          <label class="m-auto md:text-2xl lg:text-3xl" for="question_<%= question.id %>_radio_<%= index %>">
            <%= t("questions.choice"+index.to_s) %>
        </label>
          <%= form.radio_button("answers[#{question.id}]", value, id:"question_#{question.id }_radio_#{index}", autocomplete: "off", class:"radio radio-primary radio-lg", "data-controller":"radio",  "data-action":"click->questions#radio_clicked") %>
        </div>
      <% end %>
    </div>

    <div class="card-actions h-12 w-full">
      <% if question.order != 1 %>
        <button type="button" data-action="click->questions#back_clicked" class="w-16 m-auto">
          <%= image_tag "Arrow.svg", alt: t("questions.backButton"), class: "arrow_icon"%>
        </button>
      <% end %>

      <% if question.order == question_length(question) %>
        <%= form.submit t("questions.submit"), class: "btn btn-primary hidden m-auto" %>
      <% end %>
    </div>
  </div>
</div>