<div class="container question_container current" data-index="<%= index %>">
  <div class="content">
    <div class="box" data-controller="questions" data-index="<%= index %>">
      <div class="question">
        <p><%= question.content %></p>
      </div>
      <div class="options">
        <% [0,0,1,1].each_with_index  do |value, index| %>
          <label class="custom-radio">
            <%= form.radio_button("answers[#{question.id}]", value, id: "option_#{question.id}_#{value}", "data-action":"click->questions#radio_clicked") %>
            <span></span><br>
            <%= index %><br>
          </label><br>
        <% end %>
      </div>

      <div class="question_buttons">
      
        <% if index + 1 != questions_length %>
          <button type="button" data-action="click->questions#back_clicked">
            <svg xmlns="http://www.w3.org/2000/svg" width="90" height="90" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
            </svg>
          </button>
        <% end %>

        <% if is_first_question && index == 0 %>
          <%= form.submit "Submit", class: "submit_button" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function() {
    $('input[type=radio]').click(function() {
      var currentQuestionContainer = $(this).closest('.question_container');
      var currentIndex = currentQuestionContainer.data('index');

      if ($(this).is(':checked')) {
        if (currentIndex != 0) {
          // currentQuestionContainer.addClass('slide-out-left').removeClass('current');
        }
      }
    });

    $('button').click(function() {
      var currentQuestionContainer = $(this).closest('.question_container');
      var currentIndex = currentQuestionContainer.data('index');
      var targetIndex = currentIndex + 1;
      
      var targetQuestionContainer = $('.question_container[data-index=' + targetIndex + ']');
      targetQuestionContainer.addClass('slide-out-right current');

      setTimeout(function() {
        currentQuestionContainer.removeClass('slide-out-left');
      }, 500);
    });
  });
</script>
