  <div class="container">
    <div class="content">
      <div class="box">

            <% if params.present? and params["score"].present? %>

              <section id="result">
                <div class="progress_bar_data">
                  <p class="progress_bar_title">
                    Autism score: <%= params["score"].to_f %>% (<%= percentage_to_label(params["score"].to_f) %>)
                  </p>
                </div>
                
                <div class="percentage_bar">
                  <div style="width: <%= params["score"].to_f %>%;"></div>
                </div>

                <div>
                  <h1> You are <%= percentage_to_label(params["score"].to_f) %> to have autism </h1>
                  <p><%= percentage_to_description(params["score"].to_f) %></p>
                </div>
      
              </section>
      
          <% else %>
            <h1>ERROR: No result given!</h1>
          <% end  %>

      </div>
    </div>
  </div>


