  <div class="container">
    <div class="content">
      <div class="box">


            <section id="result">
                <h1> You are <%= percentage_to_label(params["score"].to_f) %> to have autism </h1>
                <div class="result-progress-container">

                  <div class="result-progress-percentage" style="left: <%= params["score"].to_f %>%;">
                    <span style="white-space: nowrap;"><%= percentage_to_label(params["score"].to_f) %></span>
                  </div>

                  <div class="result-progress-bar">
                    <div class="result-progress" style="width: <%= params["score"].to_f %>%;"></div>
                  </div>
                </div>

                <div>
                  <p><%= percentage_to_description(params["score"].to_f) %></p>
                  <br>

                  <p><%= percentage_to_recommendation(params["score"].to_f) %></p>
                </div>
      
              </section>
      

      </div>
    </div>
  </div>


