<main class="p-4 m-auto prose">
  <div>
    <h1 class="md:text-5xl"><%= t('aboutUs.title')%></h1>
    <p class="md:text-xl"><%= t('aboutUs.description')%></p>
    <h3 class="md:text-3xl"><%= t('aboutUs.ourVision.title')%></h3>
    <p class="md:text-xl"><%= t('aboutUs.ourVision.description')%></p>
    <h3 class="md:text-3xl"><%= t('aboutUs.ourTeam.title')%></h3>
    <p class="md:text-xl"><%= t('aboutUs.ourTeam.description')%></p>
    <h3 class="md:text-3xl"><%= t('aboutUs.contactUs.title') %></h3>
    <p class="md:text-xl"><%= t('aboutUs.contactUs.description') %><a href="mailto:fogado@rubynor.com">fogado@rubynor.com</a></p>
  </div>
</main>
