<main class="p-4 m-auto prose">
  <h1 class="md:text-5xl">FAQ</h1>

  <div class="h-full">
    <div class="collapse collapse-arrow bg-base-200 mt-5">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium"><%= t("faq.question1") %></div>
      <div class="collapse-content">
        <p><%= t("faq.answer1") %></p>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200 mt-5">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium"><%= t("faq.question2") %></div>
      <div class="collapse-content">
        <p><%= t("faq.answer2") %><a href="https://docs.autismresearchcentre.com/papers/2001_BCetal_AQ.pdf" target="_blank">Resarch paper</a></p>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200 mt-5">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium"><%= t("faq.question3") %></div>
      <div class="collapse-content">
        <p><%= t("faq.answer3") %></p>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200 mt-5">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium"><%= t("faq.question4") %></div>
      <div class="collapse-content">
        <p><%= t("faq.answer4") %></p>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200 mt-5">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium"><%= t("faq.question5") %></div>
      <div class="collapse-content">
        <p><%= t("faq.answer5") %> <a href="mailto:fogado@rubynor.com">fogado@rubynor.com</a></p>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200 mt-5">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium"><%= t("faq.question6") %></div>
      <div class="collapse-content">
        <p><%= t("faq.answer6") %> <a href="https://github.com/FarouqJalabi/test-autism" target="_blank">Github</a> </p>
      </div>
    </div>

    <div class="collapse collapse-arrow bg-base-200 mt-5">
      <input type="radio" name="my-accordion-2" />
      <div class="collapse-title text-xl font-medium"><%= t("faq.question7") %></div>
      <div class="collapse-content">
        <p><%= t("faq.answer7") %> <a href="https://github.com/farouqjalabi/test-autism" target="_blank">Github</a> </p>
      </div>
    </div>
  </div>

</main>
