<main class="px-8 w-full max-w-[85ch] xl:max-w-[105ch] m-auto">

  <h1 class="mb-5 text-4xl font-bold">
      <%= @blog.title %>
  </h1>

  <div class="">
    <%= image_tag @blog.image_src, alt: @blog.image_alt, class: "w-full" %>

    <div class="flex items-center justify-center">
        <div class="flex-1 flex items-center justify-start">
          <p class="text-lg"><%= @blog.time_to_read %> min read</p>
        </div>
        <div class="flex-1 flex items-center justify-end">
          <p class="text-lg"><%= @blog.created_at.strftime('%b %d, %Y') %></p>
        </div>
    </div>

  </div>

  <div class="prose m-auto max-w-[85ch] xl:max-w-[105ch]">
      <%= simple_format(@blog.content, {}, { sanitize_options: { attributes: %w[target href] } }) %>
  </div>
</main>
