<div class="hidden print:block" data-controller="print-answers">
  <% Question.all.each do |question| %>
    <div>
      <h1 class="card-title w-full h-32 text-2xl md:text-4xl lg:text-5xl flex items-center justify-center"><%= t("questions."+question.id.to_s) %></h1>
      <div class="flex gap-8 items-center justify-center">
        <% [0,0,1,1].each_with_index  do |value, index| %>
          <div class="flex flex-col items-center gap-4">

            <label class="m-auto md:text-2xl lg:text-3xl" for="question_<%= question.id %>_radio_<%= index %>">
              <%= t("questions.choice"+index.to_s) %>
            </label>
            <input type="radio"
                   id="<%="question_#{question.id }_radio_#{index}" %>"
                   class="radio radio-primary radio-lg"
                   autocomplete= "off"
            >
          </div>
        <% end %>
      </div>

    </div>
  <% end %>
</div>