<section class="max-w-80 md:max-w-[50rem] m-auto grid gap-10 md:px-24 lg:px-12 print:hidden">
  <h1 class="text-3xl font-bold md:text-5xl mb-8"><%= percentage_to_header(@score.score) %></h1>

  <div class="relative">
    <div class="absolute result-progress-percentage" style="left: <%= @score.score%>%;">
      <span class="whitespace-nowrap md:text-lg font-light">
        <%= percentage_to_label(@score.score) %>
      </span>
    </div>
    <progress class="progress progress-primary w-full" value="<%= @score.score %>" max="100"></progress>
  </div>

  <div
    data-controller="share"
    data-label="<%= percentage_to_share(@score.score) %>"
    data-language="<%= I18n.locale %>"
  >
    <p class="text-xl md:text-2xl"><%= percentage_to_description(@score.score) %></p>

    <div class="hidden" data-share-target="navigatorButtons">
      <button class="btn btn-primary text-lg mt-3 w-full md:w-1/4 "
            data-action="click->share#share_clicked"><%= t("result.shareButton") %></button>
    </div>

    <div class="hidden" data-share-target="shareButtons">
      <div class="flex flex-col gap-2 md:flex-row mt-5">
      <a href="https://twitter.com/intent/post?text=<%= percentage_to_share(@score.score)+"%0A https://test-autism.com/"+I18n.locale.to_s+"/test"%>"
         target="_blank" rel="noopener" role="button"
         class="btn btn-primary text-[17px] w-full md:w-1/3"
      ><%= t("result.shareTo") %> Twitter</a>
      <!-- https://www.facebook.com/sharer/sharer.php?u=YOUR_URL-->
      <a href="https://www.facebook.com/sharer/sharer.php?u=test-autism.com"
         target="_blank" rel="noopener" role="button"
         class="btn btn-primary text-[17px] w-full md:w-1/3"
      ><%= t("result.shareTo") %> Facebook</a>

      <a href="mailto:?subject=<%= t("result.shareSubject").gsub(" ", "%20") %>&body=<%= percentage_to_share(@score.score).gsub(" ", "%20")+"%0D%0Ahttps://test-autism.com/"+I18n.locale.to_s+"/test"%>"
         target="_blank" rel="noopener" role="button"
         class="btn btn-primary text-[17px] w-full md:w-1/3"
      ><%= t("result.shareTo") %> Email</a>
      </div>

      <div class="flex flex-col gap-2 md:flex-row mt-2 ">

      <button onclick="window.print()"
              class="btn btn-primary text-[17px] w-full md:w-1/3"
      ><%= t("result.printAnswers") %></button>

        <button onclick="writeText('Hello');"
                class="btn btn-primary text-[17px] w-full md:w-1/3"
        >Copy link</button>
      </div>

    </div>

  </div>
</section>

<%= render 'answers_to_print' %>