<a class="inline_blog_post" href="<%= blog_post_path(blog_post) %>">
    <img class="blog_image" src="<%=  blog_post.image_src %>" alt="<%=  blog_post.image_alt %>" />

    <h2>
        <%=  blog_post.title %>
    </h2>
  <div class="blog_image_text">
      <p><%=  blog_post.time_to_read %> min read</p>
      <p><%=  blog_post.created_at.strftime('%b %d, %Y') %></p>
  </div>


</a>