<main class="blog_post">
    <h1 class="blog_title">
        <%= @blog_post.title %>
    </h1>

    <div class="blog_image_container">
        <div>
          <%= image_tag @blog_post.image_src, alt: @blog_post.image_alt, class: "blog_image"  %>

            <div class="blog_image_text">
                <div class="blog_text_container">
                    <p><%= @blog_post.time_to_read %> min read</p>
                </div>
                <div class="blog_text_container">
                    <p><%= @blog_post.created_at.strftime('%b %d, %Y') %></p>
                </div>
            </div>
        </div>
    </div>

    <!-- Allows links, br and safe html tags -->
    <%= simple_format(@blog_post.content, {}, { sanitize_options: { attributes: %w[target href] } }) %>

</main>