<main class="p-8 px-10 m-auto prose">
  <div>
    <h1 class="md:text-5xl"><%= t('privacy.title')%></h1>
    <h2 class="md:text-3xl"><%= t('privacy.aboutData.title')%></h2>
    <p class="md:text-xl"><%= t('privacy.aboutData.description')%></p>
    <h2 class="md:text-3xl"><%= t('privacy.cookies.title')%></h2>
    <p class="md:text-xl"><%= t('privacy.cookies.description')%></p>
  </div>
</main>
