<main class="p-4 m-auto prose">
    <h1><%= t("termsOfUse.title") %></h1>
    <p><%= t("termsOfUse.titleText") %></p>

    <h2><%= t("termsOfUse.acceptOfTerms.title") %></h2>
    <p><%= t("termsOfUse.acceptOfTerms.text") %></p>

    <h2><%= t("termsOfUse.descriptionOfServices.title") %></h2>
    <p><%= t("termsOfUse.descriptionOfServices.text") %></p>

    <h2><%= t("termsOfUse.disclaimer.title") %></h2>
    <p><%= t("termsOfUse.disclaimer.text") %></p>

    <h2><%= t("termsOfUse.useOfContent.title") %></h2>
    <p><%= t("termsOfUse.useOfContent.text") %></p>

    <h2><%= t("termsOfUse.privacy.title") %></h2>
    <p><%= t("termsOfUse.privacy.text") %></p>

    <h2><%= t("termsOfUse.limitationOfLiability.title") %></h2>
    <p><%= t("termsOfUse.limitationOfLiability.text") %></p>

    <h2><%= t("termsOfUse.changesToTerms.title") %></h2>
    <p><%= t("termsOfUse.changesToTerms.text") %></p>

    <h2><%= t("termsOfUse.governingLaw.title") %></h2>
    <p><%= t("termsOfUse.governingLaw.text") %></p>

    <h2><%= t("termsOfUse.contactInformation.title") %></h2>
    <p><%= t("termsOfUse.contactInformation.text") %></p>
</main>