<main class="p-4 m-auto prose">
  <div>
    <h1 class="md:text-5xl"><%= t("translation.title") %></h1>
    <p class="md:text-xl">
    <% I18n.available_locales.each do |lang| %>
      <%= t("translation.takeAutismTest", locale: lang) %> <%= t("flag_emoji", locale: lang) %><br>
    <% end %>
    </p>

    <p class="md:text-xl"><%= t("translation.description") %></p>
    <h3 class="md:text-3xl"><%= t("translation.header1") %></h3>
    <p class="md:text-xl"><%= t("translation.description1") %><a href='mailto:fogado@rubynor.com'>fogado@rubynor.com</a>.</p>
    <h3 class="md:text-3xl"><%= t("translation.header2") %></h3>
    <p class="md:text-xl"><%= t("translation.description2") %></p>
  </div>
</main>
