<section class="text-center relative">
    <div class="section-divider"></div>

    <div class="py-10">
        <h2 class="m-auto text-center mb-12 text-5xl font-bold">
            <%= t("footer.translations") %>!
        </h2>
        <ol class="gap-5 flex animate-carousel align-center justify-left min-w-screen absolute ">

            <% I18n.available_locales.each do |lang| %>
            <li class="flex w-72 items-center border border-gray-300 p-5 m-4 rounded-xl shadow-md">
              <p class="mr-2"><%= t("language_phrase", locale: lang) %></p>
              <%= image_tag  "flags/language/"+(lang.to_s)+".svg", alt: "flag of "+t("language_name", locale: lang), class: "w-12 aspect-square ml-auto" %>

            </li>
            <% end %>

          <!-- Repeat twice for invite scroll, don't need to repeat twice way to much-->
            <% I18n.available_locales.each do |lang| %>
            <li class="flex w-72 items-center border border-gray-300 p-5 m-4 rounded-xl shadow-md">
              <p class="mr-2"><%= t("language_phrase", locale: lang) %></p>
              <%= image_tag  "flags/language/"+(lang.to_s)+".svg", alt: "flag of "+t("language_name", locale: lang), class: "w-12 aspect-square ml-auto" %>

            </li>
            <% end %>
        </ol>
    </div>

    <div class="section-divider mt-24"></div>
</section>