<footer class="pt-32 grid items-center justify-center pb-20">
    <div class="py-[1.4rem] flex items-center justify-center gap-5 w-screen">
        <div class="flex items-center justify-start flex-[0.25]">        
            <%= image_tag "Logo.svg", alt: "logo", class: "w-fit h-fit"%>
        </div>
        <div  class="grid items-center justify-end flex-[0.3] gap-2 md:gap-3">
            <h1 class="text-xl font-bold md:text-2xl lg:text-3xl">
                <%= t('footer.resources') %>
            </h1>
            <div class="flex items-center justify-end gap-2 md:gap-5">
                <a href="https://www.wired.com/2001/12/aqtest/" target="_blank">
                    <%= image_tag "wired.svg", alt: "logo", class: "w-fit h-fit"%>
                </a>
                <a href="https://github.com/FarouqJalabi/test-autism" target="_blank">
                    <%= image_tag "github.svg", alt: "logo", class: "w-fit h-fit"%>
                </a>
                <a href="https://docs.autismresearchcentre.com/papers/2001_BCetal_AQ.pdf" target="_blank">
                    <%= image_tag "university-of-cambridge-2.svg", alt: "logo", class: "w-fit h-fit"%>
                </a>
            </div>
        </div>
    </div>
    <div class="py-[1.4rem] flex items-center justify-center gap-[.8rem]">
        <a href="<%= static_pages_privacy_policy_path %>"><%= t('footer.privacy') %></a>
        <a href="<%= static_pages_about_path %>"><%= t('footer.about') %></a>
        <a href="<%= static_pages_translations_path %>"><%= t('footer.translations') %></a>
      <a href="<%= static_pages_faq_path %>">FAQ</a>
        <a href="<%= blogs_path %>"><%= t('footer.blogs') %></a>
    </div>
    <div class="py-[1.4rem] flex items-center justify-center">
        <p><%= t('footer.holding') %></p>
    </div>
</footer>