
<nav>
    <div class="left_nav_container">
    <a href="/" class="logo">
        <%= image_tag "Logo.svg", alt: "logo" %>
    </a>
    <div class="nav_button_container">
        <%= link_to t('navigation.homeButton'), root_path, class: ('selected_nav_element' if on_home?) %>
        <%= link_to t('navigation.takeTestButton'), test_path(1), class: ('selected_nav_element' if on_test?) %>
        <%= link_to t('navigation.aboutButton'), root_path+"#aboutTest", class: ('selected_nav_element' if on_about?) %>
    </div>

    
    </div>
    <div class="right_nav_container">

        <%= render "layouts/languageSelector" %>

        <div class="dropdown">
            <button onclick="toggleDropdown()" class="dropbtn">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>
            </button>
            <div id="myDropdown" class="dropdown-content">
            <%= link_to t('navigation.homeButton'), root_path, class: ('selected_nav_element' if on_home?) %>
            <%= link_to t('navigation.takeTestButton'), test_path(1), class: ('selected_nav_element' if on_test?) %>
            <%= link_to t('navigation.aboutButton'), root_path+"#aboutTest", class: ('selected_nav_element' if on_about?) %>
        </div>
    </div>
    </div>



</nav>