<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="<%= t('header.description') %>">
    
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= t('header.title') %>">
    <meta name="twitter:description" content="<%= t('home.description') %>">
    <meta name="twitter:image" content="/assets/Logo-9310ae8c0ed1466b3ea50baa4d45efa3e9718fb812e1b23d2ff608e05d3dfb63.svg">
    
    <!--
      <meta name="twitter:site" content="@username">
      <meta name="twitter:creator" content="@username">
    -->

    <!-- Other meta tags for Open Graph -->
    <meta property="og:title" content="<%= t('header.title') %>">
    <meta property="og:description" content="<%= t('header.description') %>">
    <meta property="og:image" content="/assets/Logo-9310ae8c0ed1466b3ea50baa4d45efa3e9718fb812e1b23d2ff608e05d3dfb63.svg">
    <meta property="og:url" content="https://test-autism.rubynor.com/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="https://test-autism.rubynor.com/">
    <link rel="icon" href="<%= image_url("Logo.svg") %>">



    <title>Autism test</title>
    <link rel="icon" href="/assets/Logo-9310ae8c0ed1466b3ea50baa4d45efa3e9718fb812e1b23d2ff608e05d3dfb63.svg" sizes="any" type="image/svg+xml">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer data-domain="test-autism.rubynor.com" src="https://plausible.io/js/script.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "quizPage", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <nav>
      <div class="left_nav_container">
        <a href="/" class="logo">
          <%= image_tag "Logo.svg", alt: "logo" %>
        </a>
        <div class="nav_button_container">
          <%= link_to t('navigation.homeButton'), root_path, class: ('selected_nav_element' if on_home?) %>
          <%= link_to t('navigation.takeTestButton'), test_path(1), class: ('selected_nav_element' if on_test?) %>
          <%= link_to t('navigation.aboutButton'), root_path+"#aboutTest", class: ('selected_nav_element' if on_about?) %>
        </div>

        
        </div>
        <div class="right_nav_container">

          <%= render "layouts/languageSelector" %>

          <div class="dropdown">
            <button onclick="toggleDropdown()" class="dropbtn">
              <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
              </svg>
            </button>
          <div id="myDropdown" class="dropdown-content">
          <%= link_to t('navigation.homeButton'), root_path, class: ('selected_nav_element' if on_home?) %>
          <%= link_to t('navigation.takeTestButton'), test_path(1), class: ('selected_nav_element' if on_test?) %>
          <%= link_to t('navigation.aboutButton'), root_path+"#aboutTest", class: ('selected_nav_element' if on_about?) %>
        </div>
      </div>
      </div>

      
      
    </nav>

    <%= yield %>
  </body>
</html>