<!DOCTYPE html>
<html>
  <head>
    <title>Questioner</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "quizPage", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
        <a href="/" class="logo">
          <%= image_tag "Logo.svg" %>
        </a>

      <%= link_to "Home", root_path, class: ('selected_nav_element' if on_home?) %>
      <%= link_to "Take a test", test_path(1), class: ('selected_nav_element' if on_test?) %>
      <%= link_to "About", "#about", class: ('selected_nav_element' if on_about?) %>
      
    </nav>

    <%= yield %>
  </body>
</html>