<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- For google search console -->
    <meta name="google-site-verification" content="FP9B6uVirNzpxWIerbFI7CKXGJu_fug11GD0FiU33t8" />

    <title><%=  t('header.title') %></title>
    <meta name="description" content="<%= t('header.description') %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="<%= t('header.title') %>">
    <meta name="twitter:description" content="<%= t('home.description') %>">
    <meta name="twitter:image" content="/assets/Logo-9310ae8c0ed1466b3ea50baa4d45efa3e9718fb812e1b23d2ff608e05d3dfb63.svg">

    <!--
      <meta name="twitter:site" content="@username">
      <meta name="twitter:creator" content="@username">
    -->

    <!-- Other meta tags for Open Graph -->
    <meta property="og:title" content="<%= t('header.title') %>">
    <meta property="og:description" content="<%= t('header.description') %>">
    <meta property="og:image" content="/assets/Logo-9310ae8c0ed1466b3ea50baa4d45efa3e9718fb812e1b23d2ff608e05d3dfb63.svg">

    <meta property="og:url" content="https://test-autism.rubynor.com/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="https://test-autism.rubynor.com/">
    <link rel="icon" href="<%= image_url("Logo.svg") %>">



    <link rel="icon" href="/assets/Logo-9310ae8c0ed1466b3ea50baa4d45efa3e9718fb812e1b23d2ff608e05d3dfb63.svg" sizes="any" type="image/svg+xml">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer data-domain="test-autism.rubynor.com" src="https://plausible.io/js/script.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "quizPage", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "blog", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <%= render "layouts/navigation" %>
    <%= yield %>
  </body>
</html>