<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <%= render "layouts/head" %>

  <body class="overflow-x-hidden">
  <div class="flex flex-col min-h-screen">
    <div class="flex-1">
      <%= render "layouts/navigation" %>
      <turbo-fram id="main">
        <%= yield %>
      </turbo-fram>
    </div>
    <%= render "layouts/footer" %>
  </div>

  </body>
</html>