<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Gain insights into your traits. This test is not a diagnostic tool but can help you understand yourself better.">
    
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Questioner">
    <meta name="twitter:description" content="Gain insights into your traits. This test is not a diagnostic tool but can help you understand yourself better.">
    <meta name="twitter:image" content="/assets/Logo-9310ae8c0ed1466b3ea50baa4d45efa3e9718fb812e1b23d2ff608e05d3dfb63.svg">
    
    <!--
      <meta name="twitter:site" content="@username">
      <meta name="twitter:creator" content="@username">
    -->
    
    
    <!-- Other meta tags for Open Graph -->
    <meta property="og:title" content="Questioner">
    <meta property="og:description" content="Gain insights into your traits. This test is not a diagnostic tool but can help you understand yourself better.">
    <meta property="og:image" content="/assets/Logo-9310ae8c0ed1466b3ea50baa4d45efa3e9718fb812e1b23d2ff608e05d3dfb63.svg">
    <meta property="og:url" content="https://test-autism.rubynor.com/">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="https://test-autism.rubynor.com/">
    
    
    <title>Questioner</title>
    <link rel="icon" href="/assets/Logo-9310ae8c0ed1466b3ea50baa4d45efa3e9718fb812e1b23d2ff608e05d3dfb63.svg" sizes="any" type="image/svg+xml">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script defer data-domain="test-autism.rubynor.com" src="https://plausible.io/js/script.js"></script>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "quizPage", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement(
                {pageLanguage: 'en'},
                'google_translate_element'
            );
        }
    </script>

    <script defer>
      function toggleDropdown() {
        document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown if the user clicks outside of it
      document.addEventListener('click', function(event) {
        if (!event.target.closest('.dropdown')) {
          var dropdowns = document.getElementsByClassName("dropdown-content");
          for (var i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
              openDropdown.classList.remove('show');
            }
          }
        }
      });
    </script>


    <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  </head>

  <body>
    <nav>
      <div class="left_nav_container">
        <a href="/" class="logo" target="_blank">
          <%= image_tag "Logo.svg", alt: "logo" %>
        </a>
        <div class="nav_button_container">
          <%= link_to "Home", root_path, class: ('selected_nav_element' if on_home?) %>
          <%= link_to "Take a test", test_path(1), class: ('selected_nav_element' if on_test?) %>
          <%= link_to "About", root_path+"#aboutTest", class: ('selected_nav_element' if on_about?) %>
        </div>
        
      </div>
      <div class="right_nav_container">
        <div id="google_translate_element"></div>


        <div class="dropdown">
          <button onclick="toggleDropdown()" class="dropbtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
            </svg>
          </button>
        <div id="myDropdown" class="dropdown-content">
          <%= link_to "Home", root_path, class: ('selected_nav_element' if on_home?) %>
          <%= link_to "Take test", test_path(1), class: ('selected_nav_element' if on_test?) %>
          <%= link_to "About", root_path+"#aboutTest", class: ('selected_nav_element' if on_about?) %>
        </div>
      </div>
      </div>

      
      
    </nav>

    <%= yield %>
  </body>
</html>